/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --universalBlue: #0368D9;
    --universalLightBlue: #438ee4;
}

body {
    background-color: var(--universalLightBlue);
}

#main {
    display: grid;
    grid-template-rows: 1fr 6.3fr 0.34fr;
}

.main-header {
    background-color: var(--universalBlue);
}

header {
    display: grid;

    justify-self: center;
    align-items: center;
    text-align: left;

    padding-top: 1em;
}

.top-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-bottom: 1em;
}

.top-header img {
    width: 10em;
    filter: brightness(0) invert(1);
    
    padding-left: 1em;
}

.top-header h1 {
    color: white;
    font-size: 4em;

    margin-left: 1em;
    padding-bottom: 0.1em;
}

nav {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-template-columns: repeat(3, 1fr);

    font-size: 1.5em;
}

nav button {
    border: none;
    height: 2em;

    font-size: 1em;

    color: white;
    background-color: var(--universalLightBlue);
}

.main-content-container {
    background-color: white;
    background-image: url(citywalk-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;

    border: 0.2em solid grey;
    border-radius: 1em;
    box-shadow: 0em 0em 5em 2em #01070a3d;
}

.footer {
    background-color: var(--universalLightBlue);
    color: white;

    padding: 0.5em;
    font-size: 1.25em;

    display: flex;
    align-items: center;
    justify-content: center;
}